<html>
        <head>
                <title>Index of articles</title>
        </head>

        <body>
                <h1>List of articles written so far</h1>
		<hr>
                <% @articles.each do |article| %>
                <h2> <%= link_to (h article.title), article %> </h2>
                <p> <%= h article.content %> </p>
		<p> 
			<%= link_to 'Show more', article %>
		</p>
                <% end %>
        </body>
</html>
