<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>Articles</title>
	</head>
	<body>
		<p>
			<b>This is admin mode.</b>
			You are logged is as <b><%= current_admin.email -%></b>.
			Click <%= link_to 'here', destroy_admin_session_path %> to sign off.
		</p>
		<hr />
		<%= yield :layout %>
	</body>
</html>
