<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>Articles</title>
	</head>
	<body>
		<h1>This is admin mode</h1>
		<p>
			You are now in admin mode. Click <%= link_to 'here', articles_path %> to return to the user mode.
		</p>
		<hr />
		<%= yield :layout %>
	</body>
</html>
