<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>Articles</title>
	</head>
	<body>
		<p>
			<b>Comment controller</b> | 
			<%= link_to 'Admin panel', admin_articles_path %>
		</p>
		<hr />
		<%= yield :layout %>
	</body>
</html>
